body {
  min-height: 100vh;
  background-color: #C0E0DE;
}

hr {
  background-color: #C1C1C1;
}

form h2.subtitle {
  font-size: x-large;
}

.columns {
  padding-top: 5vh;
}

.hero.is-info.is-bold {
  box-shadow: 4px 4px 8px grey;
}

.main-container {
  min-height: 100vh;
}

.title {
  font-size: 1.8rem;
}

.subtitle {
  font-size: 0.9rem;
}

.custom-select {
  width: 30%;
}

.navbar {
  padding: 0.5rem 1.5rem;
}

#survey-column {
  background-color: whitesmoke;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border: 1px solid #383D3B;
  border-radius: 10px;
  padding: 30px;
}

#submit-btn {
  width: 30%;
}

#bf-photo {
  position: relative;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  
  .hero-body {
    padding: 1rem 1rem;
  }
  .container.is-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 576px) {

  .jumbotron {
    padding: 3rem 2rem;
  }

}

@media screen and (min-width: 576px) and (max-width: 768px) {

  .custom-select {
    width: 50%;
  }

  #submit-btn {
    width: 50%;
  }

}

@media screen and (max-width: 576px) {

  .custom-select {
    width: 100%;
  }

  #submit-btn {
    width: 100%;
  }

}